 html {
            scroll-behavior: smooth;
        }

        .ff {
            font-family: "El Messiri", sans-serif;
        }

        .ff-p {
            font-family: "Raleway", sans-serif;
        }

        .c-pointer {
            cursor: pointer;
        }

        .revie-icon:hover {
            background-color: #0064e0;
            color: #fff;
        }

        .revie-icon:hover {
            background-color: #00a6e8;
            color: #fff;
        }

        .revie-icon-g:hover {
            color: #fa2f5b;
            background-color: #d5fafa;
        }

        .navbar {
            z-index: 1050;
        }
        .mobile-img img{width: 100%;}

        
